* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: lightgray;
}

.field {
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
}

.cell {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 25px;
    background: pink;
    border-radius: 20%;
}

.empty-cell {
    background: transparent;
}

.menu {
    width: 700px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
}

.shuffle,
.stop,
.save,
.result {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
}

.shuffle:hover,
.result:hover {
    opacity: 0.8;
    cursor: pointer;
}

.shuffle {
    width: 200px;
    background: rgb(99, 153, 99);
}

.stop,
.save {
    width: 100px;
    background: grey
}

.save-active,
.stop-active {
    cursor: pointer;
    background: rgb(99, 153, 99);
}

.save-active:hover,
.stop-active:hover {
    opacity: 0.8;
}

.result {
    width: 100px;
    background: rgb(99, 153, 99);
}

.movesAndTime {
    width: 350px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    top: 80px;
    transform: translateX(-50%);
}

.moves,
.time-block {
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 30px;
}
.minute{
    margin-left: 20px;
}

.curr-time, .count-moves{
    color: rgb(99, 153, 99);
}

.other-size {
    width: 690px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    top: 850px;
    transform: translateX(-50%);
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.other-size span {
    color: rgb(99, 153, 99);
    border-bottom: 1.5px solid rgb(99, 153, 99);
    transition-duration: 0.5s;
    cursor: pointer;
    font-size: 20px;
    height: 22px;
}

.other-size span:hover,
.other-size span.other-size_active {
    color: black;
    border-bottom: 1.5px solid black;
}

.field-block{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 5;
    display: none;
    cursor:not-allowed;
}

.background-popap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    cursor: pointer;
}

.popap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    letter-spacing: 3px;
    text-align: center;
    font-size: 40px;
}

.close-popap {
    position: absolute;
    color: white;
    font-size: 45px;
    top: 35%;
    right: 20%;
    cursor: pointer;
}

.close-popap:hover {
    opacity: 0.8;
}
.sound{
    width: 150px;
    display: flex;
    justify-content: flex-end;
}
.range{
    display: block; 
    width: 100px;
    border-radius: 15px;
    position: relative;
    padding: 3px;
    border: 1px solid black;
    background: pink;
    box-shadow: inset 0px 0px 0px 100vw transparent;
    cursor: pointer;
    transition: 0.5s;
}

input[type=range] {
    width: 100px;
    height: 56px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("on.png"),url("off.png");
    background-position:5px center, 55px center;
    background-size: 38px 38px;
    background-repeat: no-repeat;
}

input[type=range]::-webkit-slider-runnable-track {
    border-radius: 15px;
    height: 48px;
}

input[type=range]::-webkit-slider-thumb {
    background: lightgrey url("volume-on.png") center center;
    background-size: 42px 42px;
    background-repeat: no-repeat;
    border:1px solid black;
    border-radius: 15px;
    cursor: pointer;
    width: 50%;
    height: 48px;
    -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
    border-radius: 15px;
}

input[type=range]::-moz-range-thumb {
    cursor: pointer;
}




#tableRec{
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0;
    top: -1000px;
      left: 50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    z-index: 20;
    display: flex;
    align-items:center;
    cursor: pointer;
}
#tableRec.done{
    opacity: 1;
    visibility: visible;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 20;
    
}

#innertableRec{
    width: 70%;
    background-color: lightgrey;
    border-radius: 25px;
    opacity: 1;
    margin:0 auto;
    position: relative;
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: auto;
}
#closeTableRec{
    position: absolute;
    z-index: 40;
    font-size: 50px;
}
#closeTableRec:hover{
    opacity: 0.8;
    cursor: pointer;
}
#records{
    width: 100%;
    padding-top: 50px;
    font-size: 30px;
}
.no-data{
    padding-left: 20px;
    padding-bottom: 30px;
}


