@import "../../../assets/styles/normalize";

@import "../../../assets/styles/font";

@import "../../../assets/styles/base/variables";
@import "../../../assets/styles/base/mixins";

*{
    font-family: 'Roboto';
    box-sizing:border-box;
}
h1{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1160px;
    margin: 0 auto;
}

@import "../../../assets/styles/blocks/watch-online";
@import "../../../assets/styles/blocks/header";