@import "../../../assets/styles/normalize";

@import "../../../assets/styles/font";

@import "../../../assets/styles/base/variables";
@import "../../../assets/styles/base/mixins";

*{
    font-family: 'Roboto';
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
h1{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1160px;
    margin: 0 auto;
}

@import "../../../assets/styles/blocks/panda.scss";
@import "../../../assets/styles/blocks/logo";
@import "../../../assets/styles/blocks/nav";
@import "../../../assets/styles/blocks/watch-online";
@import "../../../assets/styles/blocks/header";
@import "../../../assets/styles/blocks/buttons";
@import "../../../assets/styles/blocks/backstage";
@import "../../../assets/styles/blocks/animals";
@import "../../../assets/styles/blocks/pick-and-feed";
@import "../../../assets/styles/blocks/testimonials";
@import "../../../assets/styles/blocks/footer";
