.wall-wrapper{
  width: 100%;
  margin-top: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    width: 0;
    display: none;
  }
  #wall {
    position: relative;
    transition: .5s;
  
    .row {
      position: relative;
      display: flex;
      height: 150px;
      margin-bottom: 10px;
  
      img {
        cursor: pointer;
        height: 100%;
        margin: 5px;
        
        &:hover, &:active{
          transform: scale(1.05);
          z-index: 10;
          transition: .5s;
        }
      }
    }
  }
}
