.what-bird {
    background-color: $bj-blocks;
    margin-top: 25px;
    border-radius: 5px;
    width: 100%;
    height: 187px;
    display: none; //flex

    &__img {
        width: 200px;
        height: 155px;
        margin-top: 15px;
        margin-left: 15px;
        img{
            border-radius: 10px;
            width: 200px;
            height: 155px;
        }
    }

    &__player{
        width: 100%;
        padding-right: 58px;
        padding-left: 42px;

        .title{
            color: $text-color;
            font-size: 26px;
            margin-top: 19px;
            margin-left: 2px;
        }

        hr{
            border-color: lightgray;
            border-bottom: 0.5px;
            margin-top: 20px;
        }
    }

    &__loading{
        display: flex;
        margin-top: 20px;
        color: $text-color;
    }    
}