.logo {
    width: 82px;
    height: 52px;
    border: 1px solid $main-color1;
    border-radius: 2px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 63px;

    &__link {
        display: inline-block;
        color: $main-color1;
        font-weight: 400;
        font-size: 19.0145px;
        text-decoration: none;
        line-height: 120%;
        margin-top: 5px;
    }

    &__img {
        position: absolute;
        display: block;
        top: 23.64px;
        left: 9.23px;
    }

}