.testimonials {
    min-width: $screen-width;
    min-height: 919px;
    position: relative;
    overflow: hidden;

    &__fon-img {
        position: absolute;
        right: 0;
        bottom: -137px;
    }

    .container {
        height: 575px;
        margin-top: 140px;
    }

    &__title {
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
        text-align: center;
        color: $backstage-text-color;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        margin-top: 47px;
    }

    &__item {
        border-radius: 20px;
        width: 268px;
        height: 391px;
        background-color: $testimonials-card-bg;
        padding: 15px 15px 0 16px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: -2px;
            bottom: -2px;
            left: -2px;
            right: -2px;
            background: $testimonials-gradient;
            border-radius: 20px;
            z-index: -1;
        }

        &__content {
            margin-top: 11px;
            font-weight: 300;
            font-size: 15px;
            line-height: 120%;
            color: #767474;
        }

        &__user {
            display: flex;
            align-items: center;

            img {
                margin-right: 10px;
            }

            &__descr {
                font-weight: 300;
                font-size: 15px;
                color: #BDBDBD;

                span:first-child {
                    font-weight: 400;
                    font-size: 16px;
                    color: $main-color2;
                }

                span:last-child {
                    padding: 0 6px;
                }
            }
        }
    }

    &__line-scroll {
        width: 599px;
        height: 8px;
        background: #F5F7F6;
        border-radius: 5px;
        margin: 21px auto 0;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: -1px;
            bottom: -1px;
            left: -1px;
            right: -1px;
            background: $testimonials-gradient;
            border-radius: 5px;
            z-index: -1;
        }

        &__item {
            width: 115.19px;
            height: 6px;
            background: $main-color3;
            border-radius: 5px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            &:hover{
                background:$btn-hover-color;
                cursor: pointer;
            }
        }
    }
}