.watch-online {
    background: url(../../../assets/images/panda_bj_petstory.jpg) center (center/cover) no-repeat;
    min-height: 780px;
    min-width: 1600px;
    &__bg{
        background-color:$main-color2;
    }
}