$screen-width: 1600px;

$main-color1: #FFFFFF;
$main-color2: #000000;
$main-color3: #FE9013;

$favorite-color: #FFEE2E;

$btn-hover-color: #E47209;
$btn-clicked-color: #4B9200;
$btn-disabled-color: #767474;

$backstage-text-color:#333B41;

$main-bg-gradient: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);

$testimonials-gradient: linear-gradient(-45deg, #FEBDABBD 74%,#F3A9F8A8 66%,#E0D8F0 100%,#EAF7FE 100%,#EAF7FE 100%);
$testimonials-card-bg:#F1F3F2;

